--
-- PostgreSQL database dump
--

\restrict ZTevi7cQocHgUVJJtJC4NKqwVAUtEUbk3WBQow8hO5acYLIczNI1BpksN5xHmlV

-- Dumped from database version 16.11
-- Dumped by pg_dump version 16.11

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Equipment; Type: TABLE; Schema: public; Owner: servicedesk
--

CREATE TABLE public."Equipment" (
    "Id" integer NOT NULL,
    "InventoryNumber" text NOT NULL,
    "Type" text NOT NULL,
    "Room" text NOT NULL,
    "Status" text NOT NULL
);


ALTER TABLE public."Equipment" OWNER TO servicedesk;

--
-- Name: Equipment_Id_seq; Type: SEQUENCE; Schema: public; Owner: servicedesk
--

ALTER TABLE public."Equipment" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Equipment_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ServiceRequests; Type: TABLE; Schema: public; Owner: servicedesk
--

CREATE TABLE public."ServiceRequests" (
    "Id" integer NOT NULL,
    "Title" text NOT NULL,
    "Description" text NOT NULL,
    "Priority" text NOT NULL,
    "Status" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "ClosedAt" timestamp with time zone,
    "EquipmentId" integer
);


ALTER TABLE public."ServiceRequests" OWNER TO servicedesk;

--
-- Name: ServiceRequests_Id_seq; Type: SEQUENCE; Schema: public; Owner: servicedesk
--

ALTER TABLE public."ServiceRequests" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."ServiceRequests_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: Equipment; Type: TABLE DATA; Schema: public; Owner: servicedesk
--

COPY public."Equipment" ("Id", "InventoryNumber", "Type", "Room", "Status") FROM stdin;
\.


--
-- Data for Name: ServiceRequests; Type: TABLE DATA; Schema: public; Owner: servicedesk
--

COPY public."ServiceRequests" ("Id", "Title", "Description", "Priority", "Status", "CreatedAt", "ClosedAt", "EquipmentId") FROM stdin;
\.


--
-- Name: Equipment_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: servicedesk
--

SELECT pg_catalog.setval('public."Equipment_Id_seq"', 1, false);


--
-- Name: ServiceRequests_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: servicedesk
--

SELECT pg_catalog.setval('public."ServiceRequests_Id_seq"', 1, false);


--
-- Name: Equipment PK_Equipment; Type: CONSTRAINT; Schema: public; Owner: servicedesk
--

ALTER TABLE ONLY public."Equipment"
    ADD CONSTRAINT "PK_Equipment" PRIMARY KEY ("Id");


--
-- Name: ServiceRequests PK_ServiceRequests; Type: CONSTRAINT; Schema: public; Owner: servicedesk
--

ALTER TABLE ONLY public."ServiceRequests"
    ADD CONSTRAINT "PK_ServiceRequests" PRIMARY KEY ("Id");


--
-- Name: IX_ServiceRequests_EquipmentId; Type: INDEX; Schema: public; Owner: servicedesk
--

CREATE INDEX "IX_ServiceRequests_EquipmentId" ON public."ServiceRequests" USING btree ("EquipmentId");


--
-- Name: ServiceRequests FK_ServiceRequests_Equipment_EquipmentId; Type: FK CONSTRAINT; Schema: public; Owner: servicedesk
--

ALTER TABLE ONLY public."ServiceRequests"
    ADD CONSTRAINT "FK_ServiceRequests_Equipment_EquipmentId" FOREIGN KEY ("EquipmentId") REFERENCES public."Equipment"("Id");


--
-- PostgreSQL database dump complete
--

\unrestrict ZTevi7cQocHgUVJJtJC4NKqwVAUtEUbk3WBQow8hO5acYLIczNI1BpksN5xHmlV

