version: "3.9"

services:
  api:
    build: .
    image: servicedesk-api:2.0
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      # Строка подключения для EF Core:
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=servicedeskdb;Username=servicedesk;Password=servicedeskpwd
    depends_on:
      - postgres

  postgres:
    image: postgres:16-alpine
    container_name: servicedesk-postgres
    restart: always
    environment:
      - POSTGRES_DB=servicedeskdb
      - POSTGRES_USER=servicedesk
      - POSTGRES_PASSWORD=servicedeskpwd
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
